*{
	margin:0;
	padding:0;
}

body{
	font-family: "Arial", sans-serif;
	height:800px;
	width: 100%;
}

header{
	margin:0;
	border:1px solid black;

}

.fab{
	font-size:50px;
	float:left;
	margin-right: 50px;
}

h1{
	font-size:50px;
}

.heading{
	width:100%;
	height:60px;
}

nav{
	position:fixed;
	top:60px;
	left:0px;
	background-color: yellow;
	width:100%;
	border:1px solid red;
	z-index: 1;
}

.main-nav li{
	float:left;
	margin: 10px 71px 10px 71px;

	list-style-type: none;

}
.main-nav li a{
		text-decoration: none;
}

.submenu{
	position:absolute;



}
.submenu li{
	margin:10px;
	list-style: none;
}
.submenu li:hover{
	background-color: red;
}
.dropdown:hover .submenu{
	display: block;
}


.container{
	position:absolute;
	border: 2px solid;
}

.container1{
	width:40%;
	height:40%;
	left:30%;
	bottom:30%;
	background-color: red;

}
.container2{
	width:10%;
	height:10%;
	left:45%;
	bottom:45%;
	background-color: yellow;
}
footer{
	position:absolute;
	bottom:10%;
}