*{
	margin:0;
	padding:0;
}

body{
	font-family: "Arial", sans-serif;
}

header{
	margin:0;
	border:1px solid black	;
}

.fab{
	font-size:50px;
	float:left;
}
.heading{
	width:100%;
	height:60px;
}

nav{
	position:fixed;
	top:60px;
	left:0px;
	background-color: yellow;
	width:100%;
	border:1px solid red;
}

.main-nav>li{
	float:left;
	margin: 20px;
	list-style-type: none;

}
.main-nav li a{
		text-decoration: none;
}

.submenu{
	position:absolute;
	display: none;

}
.submenu li{
	margin:10px;
	list-style: none;
}
.submenu li:hover{
	background-color: red;
}
.dropdown:hover .submenu{
	display: block;
}